<!DOCTYPE html>
<html>
<head>
    <!-- # Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ratespiel</title>
</head>
<body>
    <h1 class="test">Ratespiel</h1>
    <ul>
    {% for task in tasks %}
        <li> {{ task.content }} <a href='{{url_for("delete", id=task.id)}}'>DEL</a> </li>
    {% endfor %}
    </ul>

    {% if versuche %}
    {% block content4 %}
    <div>Bereits gebrauchte Versuche: {{versuche}}</div>
    {% endblock content4 %}
{% endif %}
    
    <form action='' method='post'>
        <label for='content'>Gib eine Zahl zwischen 0 und 100 ein:</label>
        <input type='number' name='number' placeholder="0">
        <input type='submit' value='Bestätigen' class="button">
    </form>

    {% if richtig == True %}
    {% block content %}
    <div>Richtig!</div>
    <input type='text' name="name" placeholder="Name">
    <input type='submit' value='Bestätigen' class="button">
    {% endblock content %}
{% endif %}

    {% if tiefer == True %}
    {% block content2 %}
    <div>Tiefer als {{aktuelleZahl}}!</div>
    {% endblock content2 %}
{% endif %}

    {% if hoeher == True %}
    {% block content3 %}
    <div>Höher als {{aktuelleZahl}}!</div>
    {% endblock content3 %}
{% endif %}
</body>
</html>