<!DOCTYPE html>
<html>
<div class="block"></div>
<div class="borderAll">
    <head>
        <!-- # Stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <title>Ratespiel</title>
    </head>
    <body>
        <div class="blockAbove"></div>
        <h1 class="test">Ratespiel</h1>
        
    
        <form action='' method='post' style="margin-bottom: 10px;">
         <label for='content'>Gib eine Zahl ein:</label>
         <br>
         <input type='number' name='number' placeholder="0">
         <br>
         <br>
         <input type='submit' value='Bestätigen' class="button">
        </form>
     {% if richtig == True %}
     {% block content %}
        <div class="bemerkung">Richtig!</div>
        {% endblock content %}
    {% endif %}
    </body>
</div>
</html>